<div class="d-inline-block w-100">
  <button type="button" class="btn btn-outline-success btn-sm float-end" (click)="addCategory()" title="Добавить уровень">
    <em class="fa fa-plus"></em>
  </button>
</div>
<div class="form-check form-check-inline" *ngFor="let category of categories">
  <input type="checkbox" class="form-check-input" id="category_{{category.id}}" [checked]="isChecked(category.id)"
         (change)="checkboxChange(category.id, $event)">
  <label class="form-check-label" for="category_{{category.id}}">
    {{ category.name }}
  </label>
</div>
