<main class="container">
  <div class="page-header">
    <h1>Подробности о тренере</h1>
  </div>

  <div class="content-grid details-grid">
    <section>
      <div class="trainer-details-card">
        <div class="card-top">
          <div class="avatar">
            <img src="{{trainer.logoUrl}}" alt="Тренер">
          </div>
          <div class="info">
            <div class="name">{{ trainer.firstname }} {{ trainer.lastname }}</div>
            <div class="speciality">
              <span *ngFor="let sport of trainer.sports">
                <em class="fa" [ngClass]="sport.icon"></em> {{ sport.name }}
              </span>
            </div>

            <div class="distance-status">
              <div class="trainer-stats" title="Возраст тренера">
                <em class="fas fa-id-card"></em>
                {{ trainer.age | age }}
              </div>
              <div class="trainer-stats" title="Стаж работы тренера">
                <em class="fas fa-briefcase"></em>
                {{ trainer.experience | age }}
              </div>
              <div class="trainer-stats" title="Возраст спортсмена">
                <em class="fas fa-child"></em>
                {{ trainer.clientCategories | clientCategoriesListener }}
              </div>
              <div class="trainer-stats" title="Формат занятий">
                <em class="fas fa-dumbbell"></em>
                {{ trainer.trainingFormats | trainingFormatsListener }}
              </div>
              <div class="trainer-stats" title="Местоположение">
                <em class="fas fa-map-marker-alt"></em>
                {{ trainer.settlement?.region }} {{ trainer.settlement?.settlement }}
              </div>
            </div>

            <div class="rating-row">
              <div class="trainer-rating">
                <em class="fas fa-star"></em>
                <span>{{ trainer.rating?.rating }} ({{ trainer.rating?.reviewsCount | reviews }})</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-bottom" *ngIf="trainer.description">
          <div class="trainer-stats" title="Описания">
            {{ trainer.description }}
          </div>
        </div>
        <div class="card-bottom" *ngIf="trainer.files">
          <div class="landing-trainers-grid">
            <div class="trainer-card" *ngFor="let file of trainer.files">
              <div class="trainer-img-wrap">
                <img src="{{file.url}}" alt="{{file.url}}" *ngIf="isImage(file)">
                <div class="fas fa-file" *ngIf="isNotImage(file)">
                  {{ file.url }}
                </div>
              </div>
              <div class="trainer-body">
                <div class="trainer-stats">{{ file.type }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-bottom">
          <div class="price">
            от {{ trainer.price | currency }}/{{ trainer.priceGradation | priceGradation }}
          </div>
          <button class="btn-primary">Записаться</button>
        </div>
      </div>

      <div class="sub-section-title">
        <h4>Отзывы</h4>
        <a href="#" (click)="addReview($event, trainer.id)">оставить отзыв</a>
      </div>
      <div class="reviews-grid">
        <div class="review-card" *ngFor="let review of reviews()">
          <div class="review-header">
            <div class="review-avatar">
              <img src="{{review.user?.avatarUrl}}" alt="User">
            </div>
            <div class="review-meta">
              <h4>{{ review.user?.firstName }} {{ review.user?.lastName }}</h4>
              <span>{{ review.createdAt | date:'dd.MM.yyyy' }}</span>
            </div>
          </div>
          <div class="review-stars">
            <rating [customTemplate]="ratingStars" [(ngModel)]="review.rating" [max]="ratingMax"
                    [readonly]="true"></rating>
          </div>
          <p class="review-text">{{ review.text }}</p>
        </div>
      </div>
      <tp-pagination *ngIf="allReviews().length > reviewFilters().limit" [currentPage]="1"
                     [totalItems]="allReviews().length" [itemsPerPage]="reviewFilters().limit"
                     (pageChange)="onPageChange($event)"></tp-pagination>
    </section>

    <rightSidebar></rightSidebar>

  </div>
</main>

<ng-template #ratingStars let-index="index" let-value="value">
  <em class="fas fa-star {{index < value ? 'text-gold' : 'text-gray'}}"></em>
</ng-template>
