<div class="cat-grid">
  <div class="cat-item"><i class="fas fa-futbol"></i>Футбол</div>
  <div class="cat-item"><i class="fas fa-basketball-ball"></i>Баскетбол</div>
  <div class="cat-item"><i class="fas fa-swimmer"></i>Плавание</div>
  <div class="cat-item"><i class="fas fa-table-tennis"></i>Теннис</div>
  <div class="cat-item"><i class="fas fa-horse-head"></i>Конный</div>
  <div class="cat-item"><i class="fas fa-running"></i>Бег</div>
  <div class="cat-item"><i class="fas fa-hand-fist"></i>Бокс</div>
  <div class="cat-item"><i class="fas fa-dharmachakra"></i>Гимнастика</div>
  <div class="cat-item"><i class="fas fa-mask"></i>Фехтование</div>
  <div class="cat-item"><i class="fas fa-volleyball-ball"></i>Волейбол</div>
</div>
