<header>
  <div class="container header-inner">
    <div class="logo" routerLink="/">
      <img class="" src="{{logoUrl}}" alt="TrainerPRO">
      <div>
        Тренер<span class="primary">PRO</span>
        <span>Лучший тренер для вашего ребенка</span>
      </div>
    </div>
    <nav class="nav-links">
      <a routerLink="/trainers">Тренеры</a>
      <a href="/clubs">Клубы</a>
      <a href="#">Виды спорта</a>
      <a href="#">Цены</a>
      <a href="#">Для тренеров</a>
      <a routerLink="/admin" class="primary" *ngIf="isLogged()">Админка</a>
    </nav>
    <div class="user-actions">
      <div class="location-select">
        <i class="fas fa-map-marker-alt"></i>
        <span>Кемерово</span>
        <i class="fas fa-chevron-down" style="font-size: 10px;"></i>
      </div>
      <div class="user-avatar"><i class="far fa-user"></i></div>
      <a class="login-btn" *ngIf="!isLogged()" (click)="showLoginForm = true">Войти</a>
      <a class="login-btn" *ngIf="isLogged()" (click)="logout()">Выйти</a>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer>
  <div class="container footer-inner">
    <div class="logo" style="color: white;">
      <img class="" src="{{logoUrl}}" alt="TrainerPRO">
      <div>
        Trainer<span class="primary">PRO</span>
        <span style="color: #9CA3AF;">Сервис поиска тренеров</span>
      </div>
    </div>
    <div class="stats">
      <div class="stat-item"><i class="fas fa-users"></i> 1500+ тренеров</div>
      <div class="stat-item"><i class="fas fa-map-marker-alt"></i> 400+ клубов</div>
      <div class="stat-item"><i class="fas fa-medal"></i> 50+ видов спорта</div>
      <div class="stat-item"><i class="fas fa-star"></i> 25 000+ довольных детей</div>
    </div>
  </div>
</footer>

<div class="overlay" *ngIf="showLoginForm">
  <div class="div-form-signin text-center">
    <form name="authForm" #authForm="ngForm" novalidate>
      <div class="div-form-signin-header">
        <h1 class="h5 fw-bold">Вход</h1>
        <button type="button" class="btn-close close" aria-label="Закрыть" (click)="showLoginForm = false"></button>
      </div>
      <div class="text-danger" *ngIf="authError">
        {{ authError }}
      </div>
      <div class="form-floating mb-2">
        <input type="text" id="username" name="username" #username="ngModel" [(ngModel)]="authData.username" required
               placeholder="username" class="form-control">
        <label for="username">Логин</label>
      </div>
      <div class="form-floating mb-2">
        <input type="password" id="password" name="password" #password="ngModel" [(ngModel)]="authData.password"
               required placeholder="password" class="form-control">
        <label for="username">Пароль</label>
      </div>
      <button type="submit" class="w-100 btn-primary" (click)="login(authForm)" [disabled]="authForm.invalid">
        Войти
      </button>
    </form>
  </div>
</div>
