<main class="main-form-signin">
  <div class="div-form-signin text-center">
    <form name="authForm" #authForm="ngForm" novalidate>
      <h1 class="h5 fw-bold">Админка</h1>
      <span class="text-danger" *ngIf="authError">{{ authError }}</span>
      <div class="form-floating mb-2">
        <input type="text" id="username" name="username" #username="ngModel" [(ngModel)]="authData.username" required
               placeholder="username" class="form-control">
        <label for="username">Логин</label>
      </div>
      <div class="form-floating mb-2">
        <input type="password" id="password" name="password" #password="ngModel" [(ngModel)]="authData.password"
               required placeholder="password" class="form-control">
        <label for="username">Пароль</label>
      </div>
      <button type="submit" class="w-100 btn btn-success" (click)="login(authForm)" [disabled]="authForm.invalid">Войти</button>
    </form>
  </div>
</main>
