<section class="reviews container">
  <div class="section-title">
    <h2>Отзывы о тренерах</h2>
    <button type="button" class="btn-secondary" routerLink="/reviews">
      Смотреть все
    </button>
  </div>
  <div class="reviews-grid">
    <div class="review-card" *ngFor="let review of reviews.items">
      <div class="review-header">
        <div class="review-avatar">
          <img src="{{review.user?.avatarUrl}}" alt="User">
        </div>
        <div class="review-meta">
          <h4>{{review.user?.firstName}} {{review.user?.lastName}}</h4>
          <span>{{review.createdAt | date:'dd.MM.yyyy'}}</span>
        </div>
      </div>
      <div class="review-stars">
        <span *ngFor="let r of review.rating | ratingRepeat">
          <span *ngIf="r">★</span>
          <span *ngIf="!r">☆</span>
        </span>
      </div>
      <p class="review-text">{{review.text}}</p>
    </div>
  </div>
</section>
