<div class="features-grid">
  <div class="feature-item">
    <div class="icon-circle"><i class="fas fa-shield-alt"></i></div>
    <h4>Проверенные<br>тренеры</h4>
    <p>Документы и отзывы</p>
  </div>
  <div class="feature-item">
    <div class="icon-circle"><i class="fas fa-star"></i></div>
    <h4>Настоящие<br>отзывы</h4>
    <p>Реальные родители</p>
  </div>
  <div class="feature-item">
    <div class="icon-circle"><i class="fas fa-search"></i></div>
    <h4>Удобный<br>поиск</h4>
    <p>По спорту и району</p>
  </div>
  <div class="feature-item">
    <div class="icon-circle"><i class="far fa-calendar-check"></i></div>
    <h4>Онлайн<br>запись</h4>
    <p>Без звонков и ожидания</p>
  </div>
  <div class="feature-item">
    <div class="icon-circle"><i class="fas fa-lock"></i></div>
    <h4>Безопасная<br>оплата</h4>
    <p>Онлайн и на карту</p>
  </div>
</div>
