<div class="clubs-grid" *ngIf="clubs.length > 0">
  <div class="club-card" *ngFor="let club of clubs">
    <div class="club-img">
      <img src="{{club.logoUrl}}" alt="Клуб">
    </div>
    <div class="club-body">
      <h3>{{ club.name }}</h3>
      <p class="sport">{{ club.sports?.join(', ') }}</p>
      <div class="trainer-rating">
        ★ <span>{{ club.rating?.value }} ({{ club.rating?.reviewsCount }} отзывов)</span>
      </div>
      <p class="loc">{{ club.address }}</p>
    </div>
  </div>
</div>
