<section class="clubs container">
  <div class="section-title">
    <h2>Популярные клубы</h2>
    <button type="button" class="btn-outline" routerLink="/clubs">
      Смотреть все
    </button>
  </div>
  <div class="clubs-grid" *ngIf="clubs.length > 0">
    <div class="club-card" *ngFor="let club of clubs">
      <div class="club-img">
        <div class="card-badge" *ngIf="club.verified">
          <em class="fas fa-check-circle"></em>
          Проверен
        </div>
        <div class="card-fav" (click)="addReview(club.id)">
          <em class="far fa-heart"></em>
        </div>
        <img src="{{club.logoUrl}}" alt="Клуб">
      </div>
      <div class="club-body">
        <h3>{{ club.name }}</h3>
        <p class="sport">{{ club.sports | sportsListener }}</p>
        <div class="trainer-rating">
          <em class="fas fa-star"></em>
          <span>{{ club.rating?.rating }} ({{ club.rating?.reviewsCount }} отзывов)</span>
        </div>
        <p class="loc">{{ club.address }}</p>
        <button class="btn-primary" routerLink="/clubs/{{club.id}}">Подробнее</button>
      </div>
    </div>
  </div>
</section>
