<div class="d-inline-block w-100">
  <a class="btn btn-outline-success btn-sm float-end" (click)="addFormat()">
    <em class="fa fa-plus"></em>
    Добавить формат
  </a>
</div>
<div class="form-check form-check-inline" *ngFor="let format of formats">
  <input type="checkbox" class="form-check-input" id="format_{{format.id}}" [checked]="isChecked(format.id)"
         (change)="checkboxChange(format.id, $event)">
  <label class="form-check-label" for="format_{{format.id}}">
    {{ format.name }}
  </label>
</div>
